[user]
	name = Xavi-Tech254
	email = xavitech8@gmail.com
[safe]
	directory = /storage/emulated/0/Download/xavibot-57f2c2607f329634748a953d08c20052da437bcd
	directory = /storage/emulated/0/Download/xavibot-main
	directory = /storage/emulated/0/Download/xavibot-final
	directory = /storage/emulated/0/Download/xavibot-final
